replicaCount: 1


image:
repository: cloudflare/cloudflared
tag: latest
pullPolicy: IfNotPresent


cloudflared:
tunnelName: homelab-tunnel
tunnelId: "REPLACE_WITH_TUNNEL_ID"
credentialsSecret: cloudflared-credentials
config:
ingress:
- hostname: example.yourdomain.com
service: http://your-service.namespace.svc.cluster.local:80
- service: http_status:404


resources:
limits:
cpu: 100m
memory: 128Mi
requests:
cpu: 50m
memory: 64Mi


nodeSelector: {}


tolerations: []

affinity: {}
