apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cloudflared.fullname" . }}
data:
  config.yaml: |
    tunnel: {{ .Values.cloudflared.tunnelId }}
    credentials-file: /etc/cloudflared/creds/credentials.json
    ingress:
{{ toYaml .Values.cloudflared.config.ingress | indent 6 }}
